<footer class="bg-dark text-white py-4">
    <div class="container">
      <div class="row">
        <!-- About Section -->
        <div class="col-md-4 mb-3">
          <h5>About SmartGear Store</h5>
          <p>Your one-stop shop for the latest laptops, phones, and gadgets. Experience quality and affordability in one place.</p>
        </div>
  
        <!-- Quick Links Section -->
        <div class="col-md-2 mb-3">
          <h5>Quick Links</h5>
          <ul class="list-unstyled">
            <li><a href="#" class="text-white text-decoration-none">Home</a></li>
            <li><a href="#" class="text-white text-decoration-none">Products</a></li>
            <li><a href="#" class="text-white text-decoration-none">About Us</a></li>
            <li><a href="#" class="text-white text-decoration-none">Contact</a></li>
            <li><a href="#" class="text-white text-decoration-none">FAQ</a></li>
          </ul>
        </div>
  
        <!-- Social Media Section -->
        <div class="col-md-2 mb-3">
          <h5>Follow Us</h5>
          <ul class="list-inline">
            <li class="list-inline-item">
              <a href="#" class="text-white text-decoration-none">
                <i class="fab fa-facebook fa-lg"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#" class="text-white text-decoration-none">
                <i class="fab fa-twitter fa-lg"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#" class="text-white text-decoration-none">
                <i class="fab fa-instagram fa-lg"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#" class="text-white text-decoration-none">
                <i class="fab fa-linkedin fa-lg"></i>
              </a>
            </li>
          </ul>
        </div>
  
        <!-- Newsletter Subscription -->
        <div class="col-md-4 mb-3">
          <h5>Subscribe to our Newsletter</h5>
          <form>
            <div class="form-group">
              <input type="email" class="form-control" placeholder="Enter your email" />
            </div>
            <button type="submit" class="btn btn-primary btn-block">Subscribe</button>
          </form>
        </div>
      </div>
  
      <hr class="bg-light">
  
      <!-- Footer Bottom -->
      <div class="text-center">
        <p class="mb-0">© 2025 SmartGear Store. All rights reserved.</p>
      </div>
    </div>
  </footer>
  
